
/* Define the target files
 * and other params
 * nextflow run <file.nf> -with-report -with-trace -with-dag -with-timeline
 */
 
 conda.enabled = true
 
process {

    executor = 'local'
    queue = 'workq'
    cpus = 2
    memory = 4.GB
    time = 1.h

  withName: fastqc {
    cpus = 4
    memory = 4.GB
    time = 8.h
    
  }

}