
/* Define the target files
 * and other params
 * nextflow run <file.nf> -with-report -with-trace -with-dag -with-timeline
 */
 
 conda.enabled = true
 
process {

    executor = 'pbs'
    queue = 'workq'
    cpus = 2
    memory = 4.GB
    time = 1.h

  withLabel: intense {
    cpus = 16
    memory = 48.GB
    time = 8.h
    
  }

}