
// Load configs by default for all pipelines
includeConfig 'conf/profiles.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/environments.config'

// Overwrite schema
dag.overwrite = true

// Overall params (temporary)
params {
    show_hidden_params = false
    monochrome_logs = false
    help = false
    validate_params = true
    schema_ignore_params = 'genomes'
}

// Manifest
manifest {
    name            = 'ajandria/futuriandge'
    author          = """Adrian Janucik"""
    homePage        = 'https://github.com/ajandria/futuriandge'
    description     = """RNA-seq pipeline for differential gene expression analysis (specfic to MUB infrastructure)"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.7'
    version = '1.1'
    doi             = ''
}
