 process {

  withName: SAMPLESHEET_CHECK {
    conda = '/home/ajan/.conda/envs/nf-core'
    container = 'https://depot.galaxyproject.org/singularity/python:3.9--1'
  }

  withName: FASTQC {
    conda = '/home/ajan/.conda/envs/futuriandge-fastqc-0.12.1'
    container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
  }

  withName: FASTP {
    conda = '/home/ajan/.conda/envs/futuriandge-fastp-0.23.4'
    container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--h5f740d0_0'
  }

  withName: SORTMERNA {
    conda = '/home/ajan/.conda/envs/futuriandge-sortmerna-4.3.6'
    container = 'https://depot.galaxyproject.org/singularity/sortmerna:4.3.6--h9ee0642_0'
    containerOptions = '-B /archive/users/ajan/references/rRNA_databases:/archive/users/ajan/references/rRNA_databases'
  }

  withName: STAR_ALIGN {
    conda = '/home/ajan/.conda/envs/futuriandge-star-2.7.10b'
    container = 'https://depot.galaxyproject.org/singularity/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0'
    containerOptions = '-B /archive/users/ajan/references:/archive/users/ajan/references'
  }

  withName: QUALIMAP {
    conda = '/home/ajan/.conda/envs/futuriandge-qualimap-2.2.2d'
    container = 'https://depot.galaxyproject.org/singularity/qualimap:2.2.2d--1'
    containerOptions = '-B /archive/users/ajan/references:/archive/users/ajan/references'
  }

  withName: PICARD_METRICS {
    conda = '/home/ajan/.conda/envs/futuriandge-picard-3.0.0'
    container = 'https://depot.galaxyproject.org/singularity/picard:2.27.5--hdfd78af_0'
    containerOptions = '-B /archive/users/ajan/references:/archive/users/ajan/references'
  }

  withName: SAMTOOLS_FLAGSTAT {
    conda = '/home/ajan/.conda/envs/futuriandge-samtools-1.17'
    container = 'https://depot.galaxyproject.org/singularity/samtools:1.17--h00cdaf9_0'
  }

  withName: FEATURECOUNTS {
    conda = '/home/ajan/.conda/envs/futuriandge-subread-2.0.3'
    container = 'https://depot.galaxyproject.org/singularity/subread:2.0.3--h7132678_0'
    containerOptions = '-B /archive/users/ajan/references:/archive/users/ajan/references'
  }

  withName: SALMON_QUANT {
    conda = '/home/ajan/.conda/envs/futuriandge-salmon-1.10.1'
    container = 'https://depot.galaxyproject.org/singularity/salmon:1.10.1--h7e5ed60_0'
    containerOptions = '-B /archive/users/ajan/references:/archive/users/ajan/references'
  }

  withName: MULTIQC {
    conda = '/home/ajan/.conda/envs/futuriandge-multiqc-1.14'
    container = 'https://depot.galaxyproject.org/singularity/multiqc:1.14--pyhdfd78af_0'
  }

    withName: DESEQ2 {
    container = 'sodzier/r-pkg-futuriandge-downstream:0.1.0'
    containerOptions = "-B ${launchDir}:${launchDir}/.nextflow"
}

}
