
conda.enabled = true
 
process {

  withName: FASTQC {
    conda = 'conda-forge::openjdk bioconda::fastqc=0.12.1'
  }

  withName: fastp {
    conda = '/home/ajan/.conda/envs/fastp'
  }

  withName: sortmerna {
    conda = 'bioconda::sortmerna=4.3.6'
  }

  withName: star {
    conda = 'bioconda::star=2.7.10b bioconda::samtools'
  }

  withName: qualimap {
    conda = 'conda-forge::openjdk bioconda::qualimap=2.2.2a'
  }

  withName: picard_metrics {
    conda = 'bioconda::picard=2.27.5'
  }

  withName: samtools {
    conda = 'conda-forge::zlib bioconda::samtools=1.16.1'
  }

  withName: featureCounts {
    conda = 'conda-forge::zlib bioconda::subread=2.0.3'
  }

  withName: multiqc {
    conda = 'conda-forge::importlib-metadata bioconda::multiqc=1.14'
  }

}
