 process {

  withName: SAMPLESHEET_CHECK {
    conda "/home/ajan/.conda/envs/nf-core"
  }

  withName: FASTQC {
    conda "/home/ajan/.conda/envs/futuriandge-fastqc-0.12.1"
  }

  withName: FASTP {
    conda "/home/ajan/.conda/envs/futuriandge-fastp-0.23.4"
  }

  withName: SORTMERNA {
    conda "/home/ajan/.conda/envs/futuriandge-sortmerna-4.3.6"
  }

  withName: STAR_ALIGN {
    conda "/home/ajan/.conda/envs/futuriandge-star-2.7.10b"
  }

  withName: QUALIMAP {
    conda "/home/ajan/.conda/envs/futuriandge-qualimap-2.2.2d"
  }

  withName: PICARD_METRICS {
    conda "/home/ajan/.conda/envs/futuriandge-picard-3.0.0"
  }

  withName: SAMTOOLS_FLAGSTAT {
    conda "/home/ajan/.conda/envs/futuriandge-samtools-1.17"
  }

  withName: FEATURECOUNTS {
    conda "/home/ajan/.conda/envs/futuriandge-subread-2.0.3"
  }

  withName: SALMON_QUANT {
    conda "/home/ajan/.conda/envs/futuriandge-salmon-1.10.1"
  }

  withName: MULTIQC {
    conda "/home/ajan/.conda/envs/futuriandge-multiqc-1.14"
  }

}
