
profiles {

    debug { 
        process.beforeScript = 'echo $HOSTNAME' 
    }

    cluster {
      process.executor = 'pbspro'
      process.queue = 'workq'
      process.memory = 8.GB
      process.cpus = 4
      process.time = 16.hour
    }

    local {
        process.executor = 'local'
        process.memory = 4.GB
        process.cpus = 2
        process.time = 1.hour
    }

    test {
        includeConfig 'test.config'
    }

    conda {
        process.beforeScript   = 'source ~/.bashrc' 
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        singularity.envWhitelist='SINGULARITY_BINDPATH'
        process.beforeScript = 'module load MOD/singularityce/3.11.1'
        singularity.cacheDir = '/archive/singularityCacheDir'
    }
}
