
profiles {

    standard {
      process.executor = 'pbspro'
      process.queue = 'workq'
      process.memory = 8.GB
      process.cpus = 4
      process.time = 4.hour
    }

    local {
        process.executor = 'local'
        process.memory = 4.GB
        process.cpus = 2
        process.time = 1.hour
    }

}
