params {
    // Manifest
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions (nf-core)
    //max_cpus   = 2
    //max_memory = '4.GB'
    //max_time   = '4.h'

    // Input data
    input = "${baseDir}/tests/test_sample_sheet.csv"
    organism = 'mouse'
}
